    .a-propos-container {
        background-color: black;
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .a-propos-container p {
        color: #ffffff;
    }
    .presentation {
        width: 100%;
        padding: 0 20px;
    }
    .copywrite {
        font-size: 0.8rem; /* Réduction de la taille de la police */
    }
    .divider {
        display: flex;
        justify-content: center;
        margin: 40px 0;
    }
    .footer {
        position: absolute;
        bottom: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 95%;
        margin-inline: 2.5%;
        margin-bottom: 12px;
    }

    /* Media queries pour les écrans plus petits */
    @media only screen and (max-width: 768px) {
        .presentation {
            font-size: 0.9rem; /* Réduction de la taille de la police */
        }
        .footer {
            display: flex;
            flex-direction: column-reverse;
            justify-content: left;
            align-items: left; /* Centrer horizontalement les éléments */
            margin-top: auto; /* Pour placer le footer en bas de la page */
            padding: 20px 0; /* Ajout de padding pour un meilleur espacement */
        }
    }

    /* Media queries pour les écrans encore plus petits */
    @media only screen and (max-width: 480px) {
        .presentation {
            font-size: 0.8rem; /* Réduction supplémentaire de la taille de la police */
        }
        .footer {
            display: flex;
            flex-direction: column-reverse;
            justify-content: left;
            align-items: left; /* Centrer horizontalement les éléments */
            margin-top: auto; /* Pour placer le footer en bas de la page */
            padding: 20px 0; /* Ajout de padding pour un meilleur espacement */
        }
    }