    .a-propos-container {
        background-color: black;
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .a-propos-container p {
        color: #ffffff;
    }
    .presentation {
        width: 100%;
        padding: 0 20px;
    }
    .divider {
        display: flex;
        justify-content: center;
        margin: 40px 0;
    }
    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding-inline: 20px;
        margin-bottom: 12px;
    }

    @media only screen and (max-width: 768px) {
        .presentation {
            font-size: 0.9rem; 
        }
        .footer {
            display: flex;
            flex-direction: column-reverse;
            justify-content: space-between;
            width: 100%;
            padding: 0 20px;
            margin-inline: 0;
            margin-bottom: 12px;
            font-size: 0.9rem; 
        }
    }

    @media only screen and (max-width: 480px) {
        .presentation {
            font-size: 0.8rem; 
        }
        .footer {
            font-size: 0.9rem; 
        }
    }