* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overscroll-behavior: none;
}

html, body {
    font-family: system-ui, sans-serif;
    cursor: crosshair;
    overflow: hidden;
}

h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
    color: black;
}

a {
    text-decoration: none;
}

/* NavBar */

/* NavBar */

.nav-bar {
    height: 40px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 8px 8px;
    background-color: transparent;
    position: relative;
    z-index: 10;
}

.logo, .links {
    text-transform: uppercase;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    color: white;
    font-weight: 900;
    position: relative;
    z-index: 2
}

/* Animation pour pousser le hero-container vers le haut */
@keyframes slideOutUp {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-100%);
    }
  }
  
  .hero-container.out {
    animation: slideOutUp 0.5s forwards; /* Remplace 0.5s par la durée souhaitée de l'animation */
  }