.hero-container {
    background-color: #EFB8D6;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center; 
    height: calc(100vh - 60px); 
    margin: 0 auto; 
    width: 80vw;
    gap: 10vw;
}

.link-photo, .link-video {
    text-align: center;
    margin: 20px 0; 
}

.link-photo a, .link-video a {
    color: black;
    font-size:calc(40px + 3.5vw);
    font-family: 'BanglaMN_Bold', sans-serif;
}

.name {
    text-align: center;
    font-size:calc(16px + .5vw);
    color: black;
    margin-top: auto;
    margin-bottom: 20px; 
}

@media (max-width: 500px) {
    .link-photo a, .link-video a {
        font-size:calc(20px + 3.5vw);
    }
  }
  

  /* Animation pour pousser le hero-container vers le haut */
@keyframes slideOutUp {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-100%);
    }
  }
  
  .hero-container.out {
    animation: slideOutUp 0.5s forwards;
  }
