---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css'
import '../styles/index.css'
---

<Layout title="Helwane Haoui">
	<div class="hero-container">
		<div class="grid">
			<div class="link-photo">
				<a href="/photo">PHOTO</a>
			</div>
			<div class="link-video">
				<a href="/video">VIDEO</a>
			</div>
		</div>
		<p class="name">Helwane Haoui</p>
	</div>
</Layout>

