---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css'
import '../styles/index.css'
---

<Layout title="Helwane Haoui">
	<div class="hero-container">
		<div class="grid">
			<div class="link-photo">
				<a href="/photo">PHOTO</a>
			</div>
			<div class="link-video">
				<a href="/video">VIDEO</a>
			</div>
		</div>
		<p class="name">Helwane Haoui</p>
	</div>
</Layout>

<script>
	document.addEventListener('DOMContentLoaded', function() {
  const colors = [
    '#EFB8D6', '#FDE12D', '#1BCA9B', '#F76E11', '#9F44D3',
    '#1B2430', '#00A4CC', '#F95700FF', '#2C5F2D', '#00539CFF'
  ];

  const heroContainer = document.querySelector('.hero-container') as HTMLElement;
  if (heroContainer) {
    const randomColor = colors[Math.floor(Math.random() * colors.length)]; // Choisir une couleur aléatoirement
    heroContainer.style.backgroundColor = randomColor; // Appliquer la couleur
  }
});

	document.addEventListener('DOMContentLoaded', function() {
  const links = document.querySelectorAll('.link-photo a, .link-video a');

  links.forEach(link => {
    link.addEventListener('click', function(e) {
      e.preventDefault();
      const href = this.getAttribute('href'); 

      document.querySelector('.hero-container').classList.add('out');

      setTimeout(() => {
        window.location.href = href; 
      }, 500); 
    });
  });
});

</script>