---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css'
import '../styles/index.css'
---

<Layout title="Helwane Haoui">
	<div class="hero-container">
		<div class="grid">
			<div class="link-photo">
				<a href="/photo">PHOTO</a>
			</div>
			<div class="link-video">
				<a href="/video">VIDEO</a>
			</div>
		</div>
		<a href="./A-Propos" class="a-propos">A propos</a>
	</div>
</Layout>

<script>
	document.addEventListener('DOMContentLoaded', function() {
  // Initialisation des couleurs
  const colors = [
    '#C4C4FD', '#EB592B', '#B8CC9C'
  ];

  const heroContainer = document.querySelector('.hero-container') as HTMLElement;
  if (heroContainer) {
    const randomColor = colors[Math.floor(Math.random() * colors.length)];
    heroContainer.style.backgroundColor = randomColor; // Appliquer la couleur aléatoire
    heroContainer.classList.remove('out'); // Assurez-vous que 'out' n'est pas appliqué
  }

  // Gestion des liens
  const links = document.querySelectorAll('.link-photo a, .link-video a');
  links.forEach(link => {
    link.addEventListener('click', function(e) {
      e.preventDefault();
      const href = this.getAttribute('href'); 

      heroContainer.classList.add('out');

      setTimeout(() => {
        window.location.href = href;
      }, 500); // Temps pour l'animation
    });
  });
});


</script>