---
import Navbar from '../components/navbar.astro';
import Layout from '../layouts/Layout.astro';
import '../styles/photo.css'
---

<Layout title="Photographie">
	<Navbar/>
	<div class="grid-container">
		<div class="photo-container">
			<div id="image-viewer">
				<img src="images/img1.webp" id="current-image">
			</div>
		</div>
	</div>
	<div id="left-area"></div>
	<div id="right-area"></div>	  
</Layout>

<script>
	const imagesFolder = 'images/';
	let images = ['img1.webp', 'img2.webp', 'img3.webp', 'img4.webp', 'img5.webp'];
	let currentIndex = 0;

	document.getElementById('left-area').addEventListener('click', () => {
		currentIndex = (currentIndex - 1 + images.length) % images.length;
		(document.getElementById('current-image') as HTMLImageElement).src = imagesFolder + images[currentIndex];
		console.log('précédent')
	});

	document.getElementById('right-area').addEventListener('click', () => {
		currentIndex = (currentIndex + 1) % images.length;
		(document.getElementById('current-image') as HTMLImageElement).src = imagesFolder + images[currentIndex];
		console.log('suivant')	
	});

</script>