---
import Navbar from '../components/navbar.astro';
import Layout from '../layouts/Layout.astro';
import '../styles/photo.css'
---

<Layout title="Photographie">
	<Navbar/>
	<div class="page-container">
		<img src="/icons/left-icon.svg" alt="Icone 1" class="icon" />
		<div class="image-container">
		  <img src="./images/img2.webp" class="image" />
		</div>
		<img src="/icons/right-icon.svg" alt="Icone 2" class="icon" />
	</div>
</Layout>