---
import Navbar from '../components/navbar.astro';
import Layout from '../layouts/Layout.astro';
import '../styles/video.css'
---

<Layout title="Videos">
	<Navbar/>
	<video id="videoBackground" autoplay>
		<source id="videoSource" src="/videos/video01.mp4" type="video/mp4">
		Votre navigateur ne supporte pas les vidéos HTML5.
	</video>
	<div id="videoControls">
		<p>Suivant</p>
		<p>Précédent</p>
	</div>
</Layout>
