<div class="nav-bar">
    <a class="logo" href="/">Helwane Haoui</a>
    <a class="links" href="/photo">Photo</a>
    <a class="links" href="/video">Video</a>
    <a class="links" href="/about">A propos</a>
</div>